# compilation files
*.o
*/*.o
         

# output & initial files
output/     
TNG/   
music/     
makedisk/
scripts/tested_problems/
*.out 
*.err      

# EXEC file & Config
Config.sh
GIZMO_test
conpile_time_info.c
GIZMO_config.h
submit*.sh